{% extends 'base.html' %}
{% load static %}
{% block content %}

        <style media="screen">
          .list-content{
       min-height:300px;
      }
      .list-content .list-group .title{
        background:#5bc0de;
        border:2px solid #DDDDDD;
        font-weight:bold;
        color:#FFFFFF;
      }
      .list-group-item img {
          height:120px;
          width:120px;
          margin-right:15px;
      }

      .list-content .btn {
          padding: 5px 5px !important;
          font-size: 20px !important;

      }

      .break{
          width:100%;
          margin:20px;
      }
      .name {
          color:#5bc0de;
      }
      p{
        color:black;
      }


  </style>

<div class='container'>
  <br>
  <div class="list-content">
    <ul class="list-group">

      {% if users.all %}
        <li class="list-group-item title">
        Results
        </li>
          {% for user in users %}
          <li href="#" class="list-group-item text-left">

            {% if user.profile.profile_picture %}
              <img class="rounded float-left" src="{{user.profile.profile_picture.url}}"  alt="">
            {% else %}
              <img class="rounded float-left" src="{% static 'images/default-avatar-2.jpeg' %}" alt="">
            {% endif %}
            <div class="name profile-details">
              <a href="{% url 'accounts:profile' user.username %}"><h5>{{user.username}}</h5></a>
              <p>{{user.first_name}} {{user.last_name}}{% if user.profile.college %}
              ,{{user.profile.college}}</p>
                {% endif %}
                {% if user.profile.country %}
              <p>{{user.profile.country}}</p>
                {% endif %}
            </div>


            <label class="float-right">
                <a  class="btn btn-success" href="#" title="View">Add Friend</a>
                <a  class="btn btn-success" href="#" title="View">Message</a>
            </label>
            <div class="break"></div>
          </li>
          {% endfor %}
      {% else %}
      <li class="list-group-item title">
          No Results Found
      </li>
      {% endif %}


    </ul>
  </div>
  </div>
</div>

{% endblock %}
